html, body, h1, h2,h3, h4, p, div{
    padding: 0;
    border: 0;
    margin:0;
    

}

.column{

  width: 33.33%;

  box-shadow: 10px 10px 5px #888888;

}


.grid {

  margin: 0 auto;

  max-width: 1200px;

  width: 100%;

}

.row {

  display: -webkit-flex;

  -webkit-flex-wrap: wrap;

  display: flex;

  flex-wrap: wrap;

  width: 100%;

  margin-bottom: 20px;

}


.project-row {

  display: -webkit-flex;

  -webkit-flex-wrap: wrap;

  display: flex;

  flex-wrap: wrap;

  width: 100%;

  margin-bottom: 20px;

  text-align: center; 

}










.bar{
  font-size:40px;
    font-weight: bold;
   font-family:monospace;
    
    		display: inline-block;
			margin: 0 0.5em;
		}



.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

#aside{
    float: left;
  width: 13%;
  padding: 2em;
  background-color: #f8ca00;
}

@keyframes rockin {
  0%   { transform: rotate(-30deg); }
    50% { transform: rotate(30deg); }
  100% { transform: rotate(-30deg); }
  }
}

.myName{
	font-family: 'Bungee Shade', cursive;
	text-align: center;
	font-size:large;
  
	}
	
.tagline{
font-size: small;
  text-align: center;
   animation: rockin 4s infinite ease-in-out;
}




	
.gallery{
  
  
 

}@keyframes  {
  0% {
    transform: rotate(0deg);
  }
    100% {
    transform: rotate(-30deg);
  }
}


.image {

    width: 1000px; 
    height: auto; 

}

 .firstcolumn{
 	padding-bottom: 20px;
   margin: auto;
    width: 50%;
 	float:left;
 }

 .secondcolumn{
	    display: block;
    margin: auto;
    width: 50%;
float:right;
 	
 }



 

.thumbnails {
      height: 200px;
    width: auto;
border-style: solid;
 	border-width:thick;
}

#heading {

   margin: auto;
    width: 50%;
    
    padding: 10px;

 text-align: center;
  font-size: xx-large;
  font-family: 'Inconsolata', monospace;
}
.button {

	
	 color: red;
	  text-align: center;

}
